/******
***
*** Position Utilties
***
*******/

.space-vert {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.space-hor {
  padding-right: 4rem;
  padding-left: 4rem;
}

.space-left {
  padding-left: 4rem;
}

.space-right {
  padding-right: 4rem;
}

.space-bottom {
  padding-bottom: 4rem;
}

.space-top {
  padding-top: 4rem;
}

.center {
  margin: auto;
}

/******
***
*** Type Utilties
***
*******/

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.space {
  &.all {
    padding: 2rem;
  }

  &.left {
    padding-left: 2rem;
  }

  &.right {
    padding-right: 2rem;
  }

  &.top {
    padding-top: 2rem;
  }

  &.bottom {
    padding-bottom: 2rem;
  }

  &.all-plus {
    padding: 4rem;
  }

  &.left-plus {
    padding-left: 4rem;
  }

  &.right-plus {
    padding-right: 4rem;
  }

  &.top-plus {
    padding-top: 4rem;
  }

  &.bottom-plus {
    padding-bottom: 4rem;
  }

  &.all-minus {
    padding: 0.5rem;
  }

  &.lef-minus {
    padding-left: 0.5rem;
  }

  &.right-minus {
    padding-right: 0.5rem;
  }

  &.top-minus {
    padding-top: 0.5rem;
  }

  &.bottom-minus {
    padding-bottom: 0.5rem;
  }
}

.kill-margin {
  margin: 0;
}
